<app-textfield label="Manager" value="Srinivas Rao"></app-textfield>

<app-textfield label="Chit amount" value="$100000"></app-textfield>
<app-textfield label="Amount paid" value="$17500"></app-textfield>

<app-textfield label="Total months" value="20"></app-textfield>
<app-textfield label="Months paid" value="05"></app-textfield>
<app-textfield label="Remaining months" value="15"></app-textfield>

<app-textfield label="Profit so far" value="2500"></app-textfield>

<br><br>
<div>
    <label for="Amount" [ngStyle]="{'padding': '1rem'}">Additional notes:</label>
    <div [ngStyle]="{'font-size': '1rem', 'padding': '1rem'}">Hello World</div>
</div>