<app-textfield label="Manager" [value]="chit.managerName"></app-textfield>

<app-textfield label="Chit amount" [value]="chit.amount"></app-textfield>
<app-textfield label="Amount paid" value="-"></app-textfield>

<app-textfield label="Total months" [value]="chit.numberOfMonths"></app-textfield>
<app-textfield label="Months paid" value="-"></app-textfield>
<app-textfield label="Remaining months" value="-"></app-textfield>

<app-textfield label="Profit so far" value="-"></app-textfield>

<br><br>
<div>
    <label for="Amount" [ngStyle]="{'padding': '1rem'}">Additional notes:</label>
    <div [ngStyle]="{'font-size': '1rem', 'padding': '1rem'}">{{chit.notes}}</div>
</div>