<app-modal>
    <form class="chit-form">
        <mat-form-field class="example-form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label>Manager Name</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label>Total Chit Amount</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label>Number of months</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label>Additional notes</mat-label>
            <textarea matInput placeholder="Additional notes"></textarea>
        </mat-form-field>
    </form>
</app-modal>