<mat-action-list>
    <button (click)="onRecordClick()" [ngStyle]="{'width':'100%', 'padding': '0'}">
        <mat-list-item role="listitem">
            <span matListItemTitle>$10000</span>
            <span matListItemLine>Jan 4th, 2023</span>
        </mat-list-item>
    </button>
    <button (click)="onRecordClick()" [ngStyle]="{'width':'100%', 'padding': '0'}">
        <mat-list-item role="listitem">
            <span matListItemTitle>$7500</span>
            <span matListItemLine>Feb 4th, 2023</span>
        </mat-list-item>
    </button>
</mat-action-list>